<% if flash[:user] %>
  <h2 class="padding ui-state-highlight ui-corner-all"> <%= flash[:user] %></h2>
<% end %>
<%= form_tag :controller => "user", :action => "create" %>
<h2 class="demoHeaders">Name</h2>
<%= text_field "user", "name" %>
<br />
<%= submit_tag "Login", :class => "mybutton" %>
