<% if flash[:user] %>
  <div class="div-on-center" style="clear: both;">
  <h2 class="ui-state-highlight ui-corner-all" style="padding: 5px;"> <%= flash[:user] %></h2>
</div>
<% end %>
<div class="div-on-center" style="clear: both;">
<%= form_tag :controller => "user", :action => "create" %>
<h2>Please type your nickname:
<%= text_field "user", "name" %>
<%= submit_tag "Login", :class => "mybutton", :style=> "font-size: 70%;"%>
</h2>
</div>
