<% if flash[:user] %>
  <div class="div-on-center" style="clear: both;">
  <h2 class="ui-state-highlight ui-corner-all" style="padding: 5px;"> <%= flash[:user] %></h2>
</div>
<% end %>
<div class="div-on-center" style="clear: both;">
<%= form_tag :controller => "user", :action => "create" %>
<h2>Please type your nickname:
<%= text_field "user", "name" %>
<%= submit_tag "Login", :class => "mybutton", :style=> "font-size: 70%;"%>
</h2>

</div>


<div class="div-on-center" style="clear: both;">
<br>

<h2>What is Dojo Online?</h2>
Dojo Online is a free software implemation of a web coding dojo, that
is, a coding dojo where the users attend it via world wide web. Dojo
Online is covered by <a href="http://www.gnu.org/licenses/gpl.html">GNU/GPL</a>.

<br>

<h2>What is a Coding Dojo?</h2>
A Coding Dojo is a meeting where a bunch of coders get together to
work on a programming challenge (<a href="http://www.codingdojo.org">CodingDojo.org</a>).

<br>

<h2>Who are the Dojo Gurus?</h2>
Dojo Online was developed by the following nerd... I mean,
students of <a href="http://sistemas.usp.br:8080/fenixweb/fexDisciplina?sgldis=MAC5716">Laboratory of eXtreme Programming</a>, 
<a href="http://www.ime.usp.br">Institute of Mathematics and
  Statistics</a>, <a href="http://www.usp.br">University of S&atilde;o
  Paulo.</a> First semester of 2010.<br>
<br>
<em>Team:</em>
<br>
Alexandre Martins<br>
Erika G. Suca<br>
Gregory De Bonis<br>
Igor S. Montagner<br>
Marcelo S. Reis<br>
Marcio V. Santos (coach)<br>
Tales P. Andrade<br>

</div>

