

<h3>Welcome, <%= cookies[:user] %>! </h3>

<p>
<%= link_to( '<span class="mybutton">New room</span>', new_room_path) if cookies[:user] %>

</p>

<p>

<%= link_to( '<span class="mybutton">List initiated rooms</span>', rooms_path) if cookies[:user] %>

</p>

